<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="createCSS.css">
  </head>
  <body>
    <h1>Create Your Dev Card</h1>
    <form action="" method="POST">
      <div class="form">
        <label for="full name">Your Full Name</label><br>
        <input 
        type="text"
        name="fullname"
        placeholder="Your Full Name"
        />
      <div class="form">
        <label for="about">About me</label><br>
        <input 
        type="text"
        name="about"
        placeholder="About Me"
        />
      <div class="checkbox">
        <p>Technologies you know</p>
        <input type="checkbox" name="HTML" value="HTML">
        <label for="HTML">HTML</label><br>
        <input type="checkbox" name="CSS" value="CSS">
        <label for="CSS">CSS</label><br>
        <input type="checkbox" name="JS" value="JS">
        <label for="JS">JS</label><br>
        <input type="checkbox" name="Git" value="Git">
        <label for="Git">Git</label><br>
        <input type="checkbox" name="React" value="React">
        <label for="React">React</label><br>
        <input type="checkbox" name="Nodejs" value="Nodejs">
        <label for="Nodejs">Node.Js</label><br>

      <div class="form">
        <label for="github">GitHub URL</label><br>
        <input 
        type="text"
        name="github"
        placeholder="GitHub URL"
        />
      <div class="form">
        <label for="twitter">Twitter URL</label><br>
        <input 
        type="text"
        name="twitter"
        placeholder="Twitter URL"
        />
      <div class="form">
        <label for="books">Favourite Books</label><br>
        <input 
        type="text"
        name="books"
        placeholder="Favourite Books (Sepearate by comma)"
        />
      <div class="form">
        <label for="artists">Favourite Artists</label><br>
        <input 
        type="text"
        name="artists"
        placeholder="Favourite Artists (Sepearate by comma)"
        />

      <div class="button">
        <button type="submit" class="submit">Create Site</button>
    </form>



  </body>
</html>
